openapi: "3.0.3"
info:
  title: Digital Footprint Tracker API
  description: |
    OSINT aggregation API for tracking digital footprints across platforms.
    All endpoints are prefixed with `/api` via the nginx reverse proxy.
  version: "1.3.0"
  contact:
    name: Digital Footprint Tracker

servers:
  - url: https://swift.micutu.com/api
    description: Production

security:
  - cookieAuth: []

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: __Host-swift-session

  schemas:
    ScanResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
        scanID:
          type: string
          format: uuid
        source:
          type: string
          example: Gravatar
        type:
          type: string
          example: profile_image
        rawData:
          type: string
        confidenceScore:
          type: number
          format: double
          minimum: 0
          maximum: 1

    Scan:
      type: object
      properties:
        scanID:
          type: string
          format: uuid
        input:
          type: string
          example: user@example.com
        status:
          type: string
          enum: [pending, running, completed, failed, timeout]
        results:
          type: array
          items:
            $ref: '#/components/schemas/ScanResult'
        riskScore:
          type: integer
          minimum: 0
          maximum: 100
        riskLevel:
          type: string
          enum: [Low, Medium, High, Critical]
        scannedAt:
          type: integer
          format: int64
          description: Unix timestamp
        completedAt:
          type: integer
          format: int64
          description: Unix timestamp

    ScanSummary:
      type: object
      properties:
        scanID:
          type: string
          format: uuid
        input:
          type: string
        status:
          type: string
        resultCount:
          type: integer
        riskScore:
          type: integer
        riskLevel:
          type: string
        createdAt:
          type: integer
          format: int64

    PaginatedScans:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ScanSummary'
        total:
          type: integer
        page:
          type: integer
        pages:
          type: integer

    AuthToken:
      type: object
      properties:
        token:
          type: string

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        email:
          type: string
          format: email
        isAdmin:
          type: boolean
        twoFactorEnabled:
          type: boolean
        emailVerified:
          type: boolean
        createdAt:
          type: integer
          format: int64

    DashboardStats:
      type: object
      properties:
        totalScans:
          type: integer
        totalUsers:
          type: integer
        totalResults:
          type: integer
        scansPerDay:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              count:
                type: integer
        topPlugins:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              hitCount:
                type: integer

    DarkWebFinding:
      type: object
      required: [type, value, source, confidence]
      properties:
        type:
          type: string
          enum: [email, domain, onion_service, ip, phone, username, messaging_handle, crypto_wallet, file_hash, vulnerability, malware, threat_actor, organization, date, technique, credential_exposure, network_indicator]
        value:
          type: string
          maxLength: 512
          description: Normalized indicator. Credential values are replaced by a non-reversible exposure label.
        source:
          type: string
          maxLength: 80
        confidence:
          type: number
          minimum: 0
          maximum: 1
        firstSeen:
          type: string
          nullable: true
          pattern: '^\d{4}(-\d{2}(-\d{2})?)?$'
        lastSeen:
          type: string
          nullable: true
          pattern: '^\d{4}(-\d{2}(-\d{2})?)?$'

    DarkWebRelationship:
      type: object
      required: [source, target, type, confidence]
      properties:
        source: { type: string, maxLength: 512 }
        target: { type: string, maxLength: 512 }
        type: { type: string, maxLength: 64 }
        confidence: { type: number, minimum: 0, maximum: 1 }

    DarkWebResult:
      type: object
      required: [schemaVersion, status, findings, relationships, sources]
      properties:
        schemaVersion: { type: integer, enum: [1] }
        status: { type: string, enum: [completed] }
        findings:
          type: array
          maxItems: 250
          items: { $ref: '#/components/schemas/DarkWebFinding' }
        relationships:
          type: array
          maxItems: 500
          items: { $ref: '#/components/schemas/DarkWebRelationship' }
        sources:
          type: array
          maxItems: 64
          items: { type: string, maxLength: 80 }

    DarkWebSummary:
      type: object
      required: [id, target, targetKind, status, resultCount, cancelRequested, expiresAt]
      properties:
        id: { type: string, format: uuid }
        target: { type: string, maxLength: 255 }
        targetKind: { type: string, enum: [email, domain, phone, username] }
        status: { type: string, enum: [pending, running, completed, failed, cancelled] }
        resultCount: { type: integer, minimum: 0 }
        failureCode: { type: string, nullable: true, description: Stable non-sensitive machine code. }
        cancelRequested: { type: boolean }
        createdAt: { type: number, format: double, nullable: true, description: Unix timestamp in seconds. }
        startedAt: { type: number, format: double, nullable: true, description: Unix timestamp in seconds. }
        completedAt: { type: number, format: double, nullable: true, description: Unix timestamp in seconds. }
        expiresAt: { type: number, format: double, description: Unix timestamp in seconds. }

    DarkWebDetail:
      allOf:
        - $ref: '#/components/schemas/DarkWebSummary'
        - type: object
          properties:
            result:
              allOf:
                - $ref: '#/components/schemas/DarkWebResult'
              nullable: true

    DarkWebStatus:
      type: object
      required: [enabled, retentionHours, maxOutstandingJobs, maxJobsPerUserPerDay]
      properties:
        enabled: { type: boolean }
        retentionHours: { type: integer, minimum: 1, maximum: 168 }
        maxOutstandingJobs: { type: integer, minimum: 1 }
        maxJobsPerUserPerDay: { type: integer, minimum: 1 }

    Error:
      type: object
      properties:
        error:
          type: boolean
        reason:
          type: string

paths:
  /scan:
    post:
      summary: Submit a scan
      description: Queues a new scan for the given target input. Returns immediately with a scanID for streaming/polling.
      tags: [Scan]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [input]
              properties:
                input:
                  type: string
                  description: Email address, username, domain, or phone number
                  example: user@example.com
                force:
                  type: boolean
                  description: Bypass cache and force a fresh scan
                  default: false
      responses:
        '200':
          description: Scan queued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded

  /results/{id}:
    get:
      summary: Get scan results
      description: Returns the full scan record including all results.
      tags: [Scan]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Scan found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
        '404':
          description: Scan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /stream/{id}:
    get:
      summary: Stream scan results via SSE
      description: |
        Server-Sent Events stream for a running scan. Emits three event types:
        - `message` (default): a single `ScanResult` JSON object as it arrives
        - `event: progress`: `{"done": N, "total": N, "lastPlugin": "..."}` progress update
        - `event: done`: `{"status": "completed"|"failed"|"timeout", "count": N, "riskLevel": "...", "riskScore": N}`
      tags: [Scan]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
        '404':
          description: Scan not found

  /auth/register:
    post:
      summary: Register a new account
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password]
              properties:
                username:
                  type: string
                  minLength: 3
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                  format: password
      responses:
        '200':
          description: Registered and logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        '400':
          description: Validation error or username/email taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      summary: Login
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      summary: Logout (invalidate session)
      tags: [Auth]
      responses:
        '200':
          description: Logged out
        '401':
          description: Not authenticated

  /auth/me:
    get:
      summary: Get current user profile
      tags: [Auth]
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/2fa/setup:
    post:
      summary: Begin TOTP enrolment
      description: Requires a recently authenticated browser session. Returns a secret that is not active until confirmed.
      tags: [Auth]
      responses:
        '200':
          description: TOTP provisioning material
          content:
            application/json:
              schema:
                type: object
                required: [secret, otpauthURI]
                properties:
                  secret: { type: string }
                  otpauthURI: { type: string, format: uri }
        '401': { description: Recent browser authentication required }
        '409': { description: Two-factor authentication is already enabled }

  /auth/2fa/enable:
    post:
      summary: Confirm and enable TOTP
      description: The confirmation time-step is consumed immediately to prevent replay.
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, pattern: '^[0-9]{6}$' }
      responses:
        '200':
          description: One-time recovery codes; shown only in this response
          content:
            application/json:
              schema:
                type: object
                required: [recoveryCodes]
                properties:
                  recoveryCodes:
                    type: array
                    items: { type: string }
        '400': { description: Setup is missing or the code is invalid }
        '401': { description: Recent browser authentication required }

  /auth/2fa/verify:
    post:
      summary: Complete a pending two-factor login
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, description: Six-digit TOTP or one-time recovery code }
      responses:
        '200': { description: Login completed and session rotated }
        '401': { description: Missing/expired pending login or invalid code }

  /auth/2fa/disable:
    post:
      summary: Disable two-factor authentication
      description: Requires both the current password and a fresh TOTP or one-time recovery code. Rotates the session on success.
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password, code]
              properties:
                password: { type: string, format: password }
                code: { type: string, maxLength: 64, description: Six-digit TOTP or one-time recovery code }
      responses:
        '200':
          description: Two-factor authentication disabled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '400': { description: Invalid request body }
        '401': { description: Invalid password or second factor }
        '409': { description: Two-factor authentication is not enabled }

  /my-scans:
    get:
      summary: List scans for the authenticated user
      tags: [User]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: q
          in: query
          description: Search filter on scan input
          schema:
            type: string
      responses:
        '200':
          description: Paginated scan list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedScans'
        '401':
          description: Not authenticated

  /admin/scans:
    get:
      summary: List all scans (admin only)
      tags: [Admin]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: q
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated scan list for all users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedScans'
        '401':
          description: Not authenticated
        '403':
          description: Admin access required

  /admin/dashboard:
    get:
      summary: Admin dashboard statistics
      tags: [Admin]
      responses:
        '200':
          description: Platform-wide statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardStats'
        '401':
          description: Not authenticated
        '403':
          description: Admin access required

  /report/{id}:
    get:
      summary: Download scan report as PDF
      tags: [Scan]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: PDF report
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          description: Scan not found

  /identity/{id}:
    get:
      summary: Synthesized identity profile
      description: >
        Collapses a scan's findings into one identity (likely name, emails, handles,
        confirmed accounts, breaches, exposed data classes, and exposed hosts with
        their open ports/CVEs) plus an overall risk. Capability access: owned scans
        are owner-only; anonymous scans are readable by anyone holding the scan ID.
      tags: [Scan]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Identity profile
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Scan not found

  /scans/{id}/exposure-diff:
    get:
      summary: Attack-surface change vs the previous scan
      description: >
        New/closed ports, new/resolved CVEs, new/removed subdomains and web-posture
        grade shifts versus the previous completed scan of the same target. Owner-only.
        `previous` is null and `delta` empty on a first scan (no baseline).
      tags: [Scan]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Exposure delta
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required
        '404':
          description: Scan not found

  /export/{id}:
    get:
      summary: Export scan as JSON
      tags: [Scan]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: JSON export (attachment)
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Scan not found

  /export/{id}/graph:
    get:
      summary: Export identity as a GraphML relationship graph
      description: GraphML (Gephi / yEd / Cytoscape / Maltego) of the synthesized identity and attack surface.
      tags: [Scan]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: GraphML document
          content:
            application/graphml+xml:
              schema:
                type: string
        '404':
          description: Scan not found

  /export/{id}/report:
    get:
      summary: Executive report (Markdown)
      tags: [Scan]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Markdown report (attachment)
          content:
            text/markdown:
              schema:
                type: string
        '404':
          description: Scan not found

  /export/{id}/report.html:
    get:
      summary: Executive report (print-ready HTML)
      description: Self-contained, styled HTML for the browser's "Save as PDF".
      tags: [Scan]
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: HTML report
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Scan not found

  /dark-web/status:
    get:
      summary: Dark-web worker availability and caller quotas
      description: Requires a verified email and an interactive cookie session. API keys are intentionally rejected.
      tags: [Dark Web]
      responses:
        '200':
          description: Deployment limits and feature state
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DarkWebStatus' }
        '401': { description: Not authenticated }
        '403': { description: Interactive verified session required }

  /dark-web/investigations:
    get:
      summary: List the caller's recent dark-web investigations
      description: Returns at most 25 owner-scoped jobs. Targets are decrypted only for their owner.
      tags: [Dark Web]
      responses:
        '200':
          description: Recent investigations
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/DarkWebSummary' }
        '401': { description: Not authenticated }
        '403': { description: Interactive verified session required }
    post:
      summary: Queue a bounded dark-web investigation
      description: Runs one shallow, Tor-only, no-LLM job in the isolated worker. The caller must attest authorized defensive use.
      tags: [Dark Web]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target, acknowledgedAuthorizedUse]
              properties:
                target: { type: string, minLength: 1, maxLength: 255 }
                acknowledgedAuthorizedUse: { type: boolean, enum: [true] }
      responses:
        '202':
          description: Job accepted into the durable queue
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DarkWebDetail' }
        '400': { description: Invalid target }
        '401': { description: Not authenticated }
        '403': { description: Verified session or authorization acknowledgement missing }
        '409': { description: Caller already has an active job }
        '429': { description: Per-minute, daily, or global queue limit reached }
        '503': { description: Feature disabled }

  /dark-web/investigations/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      summary: Get one owner-scoped investigation
      tags: [Dark Web]
      responses:
        '200':
          description: Job and normalized result, when completed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DarkWebDetail' }
        '404': { description: Job not found for this caller }
    delete:
      summary: Delete a terminal investigation immediately
      description: Active jobs must be cancelled before deletion.
      tags: [Dark Web]
      responses:
        '204': { description: Encrypted target and result deleted }
        '409': { description: Job is still active }

  /dark-web/investigations/{id}/cancel:
    post:
      summary: Cancel a queued or running investigation
      description: Running cancellation also terminates the worker child process group.
      tags: [Dark Web]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Updated investigation state
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DarkWebDetail' }
        '404': { description: Job not found for this caller }

  /openapi.yaml:
    get:
      summary: OpenAPI specification (this document)
      tags: [Meta]
      security: []
      responses:
        '200':
          description: OpenAPI 3.0 YAML
          content:
            application/yaml:
              schema:
                type: string

  /auth/settings:
    patch:
      summary: Update notification channels + alert preferences
      description: |
        Partial update — any field omitted is left unchanged. Webhook URLs
        are validated as public HTTPS (SSRF-protected); Telegram tokens are
        encrypted at rest when `ENCRYPTION_KEY` is configured.
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                discordWebhookURL: { type: string, format: uri, nullable: true }
                telegramBotToken:  { type: string, nullable: true, description: "<bot_id>:<secret>" }
                telegramChatID:    { type: string, nullable: true }
                slackWebhookURL:   { type: string, format: uri, nullable: true }
                verboseAlerts:
                  type: boolean
                  description: When true, send a notification for every completed scheduled scan (not just diff alerts).
      responses:
        '200':
          description: Updated user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Validation error (e.g. invalid Telegram token format or webhook targeting an internal host)
        '401':
          description: Not authenticated

  /account/export:
    get:
      summary: Export the caller's entire account data (GDPR)
      description: |
        Returns a JSON bundle containing the profile (no secrets), all scans
        with their results, scheduled scans, tags, notifications, API-key
        metadata (no hashes), and the caller's own audit log entries.
        Streamed with `Content-Disposition: attachment`.
      tags: [Account]
      responses:
        '200':
          description: JSON bundle
          content:
            application/json:
              schema:
                type: object
                properties:
                  exportedAt:    { type: integer, format: int64 }
                  formatVersion: { type: integer }
                  profile:       { type: object }
                  scans:         { type: array,  items: { $ref: '#/components/schemas/Scan' } }
                  scheduled:     { type: array,  items: { type: object } }
                  tags:          { type: array,  items: { type: object } }
                  notifications: { type: array,  items: { type: object } }
                  apiKeys:       { type: array,  items: { type: object } }
                  auditLog:      { type: array,  items: { type: object } }
        '401':
          description: Not authenticated
        '429':
          description: Rate limit (5 exports per 10 minutes per IP)

  /account:
    delete:
      summary: Permanently delete the caller's account (GDPR)
      description: |
        Two-step confirmation: the request body must echo the caller's own
        username back, case-insensitive. Admin accounts cannot self-delete.
        Cascades through scans, results, shared reports, scheduled scans,
        tags, notifications, and API keys. Audit log entries are kept but
        anonymized (`user_id` cleared) for compliance.
      tags: [Account]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmUsername]
              properties:
                confirmUsername:
                  type: string
                  description: Must equal the logged-in username (case-insensitive).
      responses:
        '204':
          description: Account deleted; session destroyed
        '400':
          description: confirmUsername does not match
        '401':
          description: Not authenticated
        '403':
          description: Admin self-deletion is refused
        '429':
          description: Rate limit (5 attempts per 10 minutes per IP)

  /health:
    get:
      summary: Liveness probe
      description: Returns 200 with current status and DB reachability. Used by container orchestrators and the systemd watchdog.
      tags: [Meta]
      security: []
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:    { type: string, example: ok }
                  db:        { type: string, example: ok }
                  timestamp: { type: string, format: date-time }
